<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>

<!-- User.find(1).sent_messages.create(:content => "Hi there eric + 1!", :receiver_id => 2) -->
<!-- User.find(1).received_messages.create(:content => "Right back at you eric!", :sender_id => 2) -->